.App{
  height:100%;
  padding-top:17%;
  padding-bottom:17%;
  display:flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right,#00b09b,#96c93d);
  font-family: sans-serif;
  /* background-image: linear-gradient(-20deg,#00cdac 0%,#8ddad5 100%); */
  
}

.home-container-outer{
  width:30%;
  height:60%;
  background-color: #00b09b;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border:2px solid black
}

.Bolder{
  font-size: larger;
  font-weight: bold;
  color:white ;
}

input{
  border:none;
  outline: none;
  border-radius: 5px;
  padding:5px 10px;
}

.Bolder{
  text-align: center;
}

.home-button{
  margin-left:50px;
  border:none;
  outline: none;
  border-radius: 5px;
  padding:5px 10px;
  margin-bottom: 10px;
  background-color:#96c93d;
  color:white;
}